.start-btn{
    margin: 2rem 4rem;
    padding: 1rem 2rem;
}
body{
    display: flex;
    justify-content: center;
}
.main-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buttons-area{
   display: flex;
   justify-content: space-between;
}
.buttons-area button{
    padding: 0.5rem 1rem;
}
.space{
    margin: 2rem 0rem;
}
.hidden{
    display: none;
}